export(as.osmar)
export(bbox)
export(center_bbox)
export(get_osm)
export(node)
export(osmsource_api)
export(osmsource_osmosis)
export(relation)
export(way)
S3method(print,osmar)
S3method(summary,osmar)
